<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>

    <style>
      .flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
    </style>
  </head>
  <body>
    <h1 style="text-align: center;">Welcome Employee</h1>

    <br />
    <div class="flex">
      <div class="left">
        <h2>All Product list</h2>

        <table border="1">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
          <% products.forEach(product => { %>
          <tr>
            <td>
              <%= product.id %>
            </td>
            <td>
              <%= product.name %>
            </td>
            <td>
              <%= product.quantity %>
            </td>
            <td>
              <%= product.price %>
            </td>
            <td>
              <a href="/employee/update/<%= product.id %>">Edit</a>
              <a href="/employee/delete/<%= product.id %>">Delete</a>
            </td>
          </tr>
          <% });%>
        </table>
      </div>
      <button><a href="/logout">Logout</a></button>
      <div class="right">
        <h2>Add Product</h2>
        <form method="POST">
          <label>Product name</label>
          <input type="text" name="name" id="" /> <br /><br />
          <label>Product price</label>
          <input type="number" name="price" id="" /> <br /><br />
          <label>Product Quantity</label>
          <input type="number" name="quantity" id="" /> <br /><br />
          <button type="submit">ADD Product</button>
        </form>
      </div>
    </div>
  </body>
</html>